<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <servlet>
    <servlet-name>oauth2Callback</servlet-name>
    <servlet-class>org.olareoun.wwd.server.OAuth2Callback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>oauth2Callback</servlet-name>
    <url-pattern>/oauth2callback/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>driveServiceServlet</servlet-name>
    <servlet-class>org.olareoun.wwd.server.DriveGwtRpcSample</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>drivesample</servlet-name>
    <servlet-class>org.olareoun.wwd.server.DriveAppEngineSample</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>driveServiceServlet</servlet-name>
    <url-pattern>/calendar/driveService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>drivesample</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
